body{
	height: 960px;
	width: 640px;
	border: solid;
	text-align: center;
	margin: auto;
}
#head{
	position:relative;
	border: solid;
	border-color: red;
	height: 50px;
	z-index: 999;
	width: 640px;
	position: absolute;
	
}

#scanner{
	float: left;
	margin-right: 250px;
	 
}
#local{
	float: left;
	

}
#seacher{
	float: right;
	
}
.scanner{
	 border-radius:20px;
}
